<script>
  var jsonArchive = {
    "claims": [
      {
        "claimId": 1,
        "cid": 1,
        "categoryName": "Bienestar socioeconómico",
        "claimName": "Empresa B",
        "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
        "claimUrl": "https://www.sistemab.org/",
        "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
        "claimType": "Sello",
        "claimObject": "Productor",
        "blockchainTx": "0x4523523523523523324242342",
        "validTo": "05/02/2023",
        "ValidFrom": "09/02/2024",
        "recertificationPeriod": "60",
        "products": [
          {
            "productId": 1,
            "name": "Huevo Color Gallina Libre 10 Und"
          }, {
            "productId": 2,
            "name": "Quinoa orgánica 400 gr Ecoterra"
          }
        ],
        "producers": [
          {
            "producerId": 1,
            "location": {
              "lat": -33.81583457587863,
              "lng": -70.7728365870521,
              "absolute": false
            },
            "imgUrl": "https://lamanzanamordida.net/app/uploads-lamanzanamordida.net/2022/02/Aprender-ingles-en-una-granja-1080x675-1-1200x675.jpeg",
            "name": "Ecoterra",
            "description": "Ecoterra",
            "evidence": [
              {
                "EvidenceId": 1,
                "filename": "Nombre 1",
                "cid": "https://sdas"
              }
            ],
            "products": [
              {
                "productId": 1,
                "name": "Huevo Color Gallina Libre 10 Und"
              }
            ]
          }, {
            "producerId": 2,
            "location": {
              "lat": -33.855326,
              "lng": -70.7582176,
              "absolute": true
            },
            "name": "Ana Luisa",
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "description": "Ana Luisa",
            "evidence": [
              {
                "EvidenceId": 2,
                "filename": "Nombre 2",
                "cid": "https://sdas"
              }
            ],
            "products": [
              {
                "productId": 1,
                "name": "Huevo Color Gallina Libre 10 Und"
              }
            ]
          }, {
            "producerId": 3,
            "location": {
              "lat": -33.8831703,
              "lng": -70.7332725,
              "absolute": true
            },
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "name": "Marianela",
            "description": "Marianela",
            "evidence": [
              {
                "EvidenceId": 3,
                "filename": "Nombre 3",
                "cid": "https://sdas"
              }
            ],
            "products": [
              {
                "id": 1,
                "name": "Huevo Color Gallina Libre 10 Und"
              }
            ]
          }
        ]
      },
      {
        "claimId": 2,
        "cid": 2,
        "categoryName": "Bienestar Animal",
        "claimName": "Certified Humane",
        "description": "Mejorar la vida de los animales producidos en granjas, encaminando la demanda del mercado a productos elaborados con prácticas más humanitarias y responsables de producción.",
        "claimUrl": "https://certifiedhumanelatino.org/",
        "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
        "claimType": "Certificación",
        "claimObject": "Producto",
        "blockchainTx": "0x4523523523523523324242342",
        "validTo": "05/02/2023",
        "ValidFrom": "09/02/2024",
        "recertificationPeriod": "30",
        "products": [
          {
            "productId": 1,
            "name": "Huevo Color Gallina Libre 10 Und"
          }
        ],
        "producers": [
          {
            "producerId": 1,
            "location": {
              "lat": -33.81583457587863,
              "lng": -70.7728365870521,
              "absolute": true
            },
            "name": "Ecoterra",
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "description": "Ecoterra",
            "evidence": [
              {
                "EvidenceId": 4,
                "filename": "Nombre 4",
                "cid": "https://sdas"
              }
            ],
            "products": [
              {
                "productId": 1,
                "name": "Huevo Color Gallina Libre 10 Und"
              }
            ]
          }
        ]
      },
      {
        "claimId": 3,
        "cid": 3,
        "categoryName": "Naturaleza",
        "claimName": "Orgánico",
        "description": "Certificación ECOCERT. Las certificaciones emitidas por Ecocert garantizan y promueven las mejores prácticas respetuosas con el medio ambiente y con conciencia social.",
        "claimUrl": "https://www.ecocert.com/es-CL/certificacion",
        "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
        "claimType": "Certificación",
        "claimObject": "Producto",
        "blockchainTx": "0x4523523523523523324242342",
        "validTo": "05/02/2023",
        "ValidFrom": "09/02/2024",
        "recertificationPeriod": "60",
        "products": [
          {
            "productId": 1,
            "name": "Huevo Color Gallina Libre 10 Und"
          }, {
            "productId": 2,
            "name": "Quinoa orgánica 400 gr Ecoterra"
          }
        ],
        "producers": [
          {
            "producerId": 1,
            "location": {
              "lat": -33.81583457587863,
              "lng": -70.7728365870521,
              "absolute": true
            },
            "name": "Ecoterra",
            "imgUrl": "https://lamanzanamordida.net/app/uploads-lamanzanamordida.net/2022/02/Aprender-ingles-en-una-granja-1080x675-1-1200x675.jpeg",
            "description": "Ecoterra",
            "evidence": [
              {
                "EvidenceId": 5,
                "filename": "Nombre 5",
                "cid": "https://sdas"
              }
            ],
            "products": [
              {
                "productId": 1,
                "name": "Huevo Color Gallina Libre 10 Und"
              }
            ]
          }, {
            "producerId": 2,
            "location": {
              "lat": -33.855326,
              "lng": -70.7582176,
              "absolute": true
            },
            "name": "Ana Luisa",
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "description": "Ana Luisa",
            "products": [
              {
                "productId": 1,
                "name": "Huevo Color Gallina Libre 10 Und"
              }
            ]
          }, {
            "producerId": 3,
            "location": {
              "lat": -33.8831703,
              "lng": -70.7332725,
              "absolute": true
            },
            "name": "Marianela",
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "description": "Marianela",
            "products": [
              {
                "id": 1,
                "name": "Huevo Color Gallina Libre 10 Und"
              }
            ]
          }
        ]
      },
      {
        "claimId": 4,
        "cid": 3,
        "categoryName": "Naturaleza",
        "claimName": "Vegetariano",
        "description": "Este producto no contiene ningún ingrediente que sea el resultado de la matanza de animales, ni utiliza ninguno en el proceso de producción.",
        "claimUrl": "https://",
        "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/vegetariano.svg",
        "claimType": "Sello",
        "claimObject": "Producto",
        "blockchainTx": "0x4523523523523523324242342",
        "validTo": "05/02/2023",
        "ValidFrom": "09/02/2024",
        "recertificationPeriod": "60",
        "products": [
          {
            "productId": 1,
            "name": "Huevo Color Gallina Libre 10 Und",
            "evidence": [
              {
                "EvidenceId": 6,
                "filename": "Nombre 6",
                "cid": "https://sdas"
              }
            ]
          }, {
            "productId": 2,
            "name": "Quinoa orgánica 400 gr Ecoterra",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }
        ],
        "producers": [
          {
            "producerId": 1,
            "location": {
              "lat": -33.81583457587863,
              "lng": -70.7728365870521,
              "absolute": true
            },
            "name": "Ecoterra",
            "description": "Ecoterra",
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "products": [
              {
                "productId": 1,
                "name": "Huevo Color Gallina Libre 10 Und",
                "evidence": [
                  {
                    "EvidenceId": 6,
                    "filename": "Nombre 6",
                    "cid": "https://sdas"
                  }
                ]
              }
            ]
          }, {
            "producerId": 2,
            "location": {
              "lat": -33.855326,
              "lng": -70.7582176,
              "absolute": true
            },
            "name": "Ana Luisa",
            "description": "",
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "products": [
              {
                "productId": 1,
                "name": "Huevo Color Gallina Libre 10 Und",
                "evidence": [
                  {
                    "EvidenceId": 7,
                    "filename": "Nombre 8",
                    "cid": "https://sdas"
                  }, {
                    "EvidenceId": 8,
                    "filename": "Nombre 9",
                    "cid": "https://sdas"
                  }
                ]
              }
            ]
          }, {
            "producerId": 3,
            "location": {
              "lat": -33.8831703,
              "lng": -70.7332725,
              "absolute": true
            },
            "name": "Marianela",
            "description": "Marianela",
            "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
            "products": [
              {
                "id": 1,
                "name": "Huevo Color Gallina Libre 10 Und",
                "evidence": [
                  {
                    "EvidenceId": 7,
                    "filename": "Nombre 8",
                    "cid": "https://sdas"
                  }, {
                    "EvidenceId": 8,
                    "filename": "Nombre 9",
                    "cid": "https://sdas"
                  }
                ]
              }
            ]
          }
        ]
      }, {
        "claimId": 5,
        "cid": 4,
        "categoryName": "Naturaleza",
        "claimName": "Libre de gluten",
        "description": "Producto libre de gluten",
        "claimUrl": "https://",
        "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/gluten.svg",
        "claimType": "Certificación",
        "claimObject": "Producto",
        "blockchainTx": "0x4523523523523523324242342",
        "validTo": "05/02/2023",
        "ValidFrom": "09/02/2024",
        "recertificationPeriod": "0",
        "products": [
          {
            "productId": 1,
            "name": "Huevo Color Gallina Libre 10 Und"
          }, {
            "productId": 2,
            "name": "Quinoa orgánica 400 gr Ecoterra"
          }
        ]
      }
    ],
    "products": [
      {
        "productId": 1,
        "claims": [
          {
            "claimId": 1,
            "cid": 1,
            "categoryName": "Bienestar socioeconómico",
            "claimName": "Sello B Corp",
            "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
            "claimType": "Sello",
            "claimObject": "Productor",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "60",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }, {
            "claimId": 2,
            "cid": 2,
            "categoryName": "bienestar animal",
            "claimName": "Certificado RSPCA Standards",
            "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "0"
          }
        ],
        "producers": [
          {
            "producerId": 1,
            "location": {
              "lat": -33.81583457587863,
              "lng": -70.7728365870521,
              "absolute": true
            },
            "name": "Ecoterra",
            "description": "Ecoterra",
            "claims": [
              {
                "claimId": 1,
                "cid": 1,
                "categoryName": "Bienestar socioeconómico",
                "claimName": "Sello B Corp",
                "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
                "claimType": "Sello",
                "claimObject": "Productor",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }, {
                "claimId": 2,
                "cid": 2,
                "categoryName": "bienestar animal",
                "claimName": "Certificado RSPCA Standards",
                "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "30"
              }, {
                "claimId": 3,
                "cid": 3,
                "categoryName": "Naturaleza",
                "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }
            ]
          }, {
            "producerId": 2,
            "location": {
              "lat": -33.855326,
              "lng": -70.7582176,
              "absolute": true
            },
            "name": "Ana luisa",
            "description": "Ana luisa",
            "claims": [
              {
                "claimId": 1,
                "cid": 1,
                "categoryName": "Bienestar socioeconómico",
                "claimName": "Sello B Corp",
                "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
                "claimType": "Sello",
                "claimObject": "Productor",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }, {
                "claimId": 2,
                "cid": 2,
                "categoryName": "bienestar animal",
                "claimName": "Certificado RSPCA Standards",
                "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "30"
              }, {
                "claimId": 3,
                "cid": 3,
                "categoryName": "Naturaleza",
                "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }
            ]
          }, {
            "producerId": 3,
            "location": {
              "lat": -33.8831703,
              "lng": -70.7332725,
              "absolute": true
            },
            "name": "Marianela",
            "description": "Marianela",
            "claims": [
              {
                "claimId": 2,
                "cid": 2,
                "categoryName": "bienestar animal",
                "claimName": "Certificado RSPCA Standards",
                "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "30"
              }, {
                "claimId": 3,
                "cid": 3,
                "categoryName": "Naturaleza",
                "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }
            ]
          }
        ]
      }, {
        "productId": 2,
        "claims": [
          {
            "claimId": 5,
            "cid": 4,
            "categoryName": "Gluten",
            "claimName": "Libre de gluten",
            "description": "Producto libre de gluten",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/gluten.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "0",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }
        ],
        "producers": [
          {
            "producerId": 1,
            "location": {
              "lat": -33.81583457587863,
              "lng": -70.7728365870521,
              "absolute": true
            },
            "name": "Ecoterra",
            "description": "Ecoterra",
            "claims": [
              {
                "claimId": 1,
                "cid": 1,
                "categoryName": "Bienestar socioeconómico",
                "claimName": "Sello B Corp",
                "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
                "claimType": "Sello",
                "claimObject": "Productor",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60",
                "evidence": [
                  {
                    "EvidenceId": 7,
                    "filename": "Nombre 8",
                    "cid": "https://sdas"
                  }, {
                    "EvidenceId": 8,
                    "filename": "Nombre 9",
                    "cid": "https://sdas"
                  }
                ]
              }, {
                "claimId": 2,
                "cid": 2,
                "categoryName": "bienestar animal",
                "claimName": "Certificado RSPCA Standards",
                "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "30",
                "evidence": [
                  {
                    "EvidenceId": 7,
                    "filename": "Nombre 8",
                    "cid": "https://sdas"
                  }, {
                    "EvidenceId": 8,
                    "filename": "Nombre 9",
                    "cid": "https://sdas"
                  }
                ]
              }, {
                "claimId": 3,
                "cid": 3,
                "categoryName": "Naturaleza",
                "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60",
                "evidence": [
                  {
                    "EvidenceId": 7,
                    "filename": "Nombre 8",
                    "cid": "https://sdas"
                  }, {
                    "EvidenceId": 8,
                    "filename": "Nombre 9",
                    "cid": "https://sdas"
                  }
                ]
              }
            ]
          }, {
            "producerId": 2,
            "location": {
              "lat": -33.855326,
              "lng": -70.7582176,
              "absolute": true
            },
            "name": "Ana luisa",
            "description": "Ana luisa",
            "claims": [
              {
                "claimId": 1,
                "cid": 1,
                "categoryName": "Bienestar socioeconómico",
                "claimName": "Sello B Corp",
                "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
                "claimType": "Sello",
                "claimObject": "Productor",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }, {
                "claimId": 2,
                "cid": 2,
                "categoryName": "bienestar animal",
                "claimName": "Certificado RSPCA Standards",
                "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "30"
              }, {
                "claimId": 3,
                "cid": 3,
                "categoryName": "Naturaleza",
                "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }
            ]
          }, {
            "producerId": 3,
            "location": {
              "lat": -33.8831703,
              "lng": -70.7332725,
              "absolute": true
            },
            "name": "Marianela",
            "description": "Marianela",
            "claims": [
              {
                "claimId": 2,
                "cid": 2,
                "categoryName": "bienestar animal",
                "claimName": "Certificado RSPCA Standards",
                "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "30"
              }, {
                "claimId": 3,
                "cid": 3,
                "categoryName": "Naturaleza",
                "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
                "claimUrl": "https://",
                "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
                "claimType": "Certificación",
                "claimObject": "Producto",
                "blockchainTx": "0x4523523523523523324242342",
                "validTo": "05/02/2023",
                "ValidFrom": "09/02/2024",
                "recertificationPeriod": "60"
              }
            ]
          }
        ]
      }
    ],
    "producers": [
      {
        "producerId": 1,
        "location": {
          "lat": -33.81583457587863,
          "lng": -70.7728365870521,
          "absolute": false
        },
        "name": "Ecoterra",
        "description": "Ecoterra",
        "imgUrl": "https://lamanzanamordida.net/app/uploads-lamanzanamordida.net/2022/02/Aprender-ingles-en-una-granja-1080x675-1-1200x675.jpeg",
        "videoUrl": "https://www.youtube.com/embed/W5-RsmMzcT0",
        "claims": [
          {
            "claimId": 1,
            "cid": 1,
            "categoryName": "Bienestar socioeconómico",
            "claimName": "Sello B Corp",
            "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
            "claimType": "Sello",
            "claimObject": "Productor",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "60"
          }, {
            "claimId": 2,
            "cid": 2,
            "categoryName": "bienestar animal",
            "claimName": "Certificado RSPCA Standards",
            "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "30"
          }, {
            "claimId": 3,
            "cid": 3,
            "categoryName": "Naturaleza",
            "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
            "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "60"
          }
        ],
        "products": [
          {
            "id": 1,
            "name": "Huevo Color Gallina Libre 10 Und"
          }, {
            "id": 2,
            "name": "Quinoa orgánica 400 gr Ecoterra"
          }
        ]
      }, {
        "producerId": 2,
        "location": {
          "lat": -33.855326,
          "lng": -70.7582176,
          "absolute": true
        },
        "name": "Ana luisa",
        "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
        "videoUrl": "https://www.youtube.com/embed/W5-RsmMzcT0",
        "description": "Ana luisa",
        "claims": [
          {
            "claimId": 1,
            "cid": 1,
            "categoryName": "Bienestar socioeconómico",
            "claimName": "Sello B Corp",
            "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
            "claimType": "Sello",
            "claimObject": "Productor",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "60",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }, {
            "claimId": 2,
            "cid": 2,
            "categoryName": "bienestar animal",
            "claimName": "Certificado RSPCA Standards",
            "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "30",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }, {
            "claimId": 3,
            "cid": 3,
            "categoryName": "Naturaleza",
            "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
            "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "60",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }
        ]
      }, {
        "producerId": 3,
        "location": {
          "lat": -33.8831703,
          "lng": -70.7332725,
          "absolute": true
        },
        "name": "Marianela",
        "description": "Marianela",
        "imgUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw8aXUiuD8qtvw6yWk9bBEKvVwLVUPI3dlP61TIq8pnFjegP32cSL7CVP72vXJpfVVUU&usqp=CAU",
        "videoUrl": "https://www.youtube.com/embed/W5-RsmMzcT0",
        "claims": [
          {
            "claimId": 1,
            "cid": 1,
            "categoryName": "Bienestar socioeconómico",
            "claimName": "Sello B Corp",
            "description": "B Corporation es una certificación ofrecida por B Lab, una organización independiente, no gubernamental y sin fines de lucro. La certificación evalúa el rendimiento social y ambiental de una empresa, desde la cadena de suministro y los materiales de entrada hasta la donación caritativa y los beneficios para los empleados. La certificación B Corp señala la intención de una empresa de mantener el propósito en el núcleo de la compañía.",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/empresa-b.svg",
            "claimType": "Sello",
            "claimObject": "Productor",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "60",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }, {
            "claimId": 2,
            "cid": 2,
            "categoryName": "bienestar animal",
            "claimName": "Certificado RSPCA Standards",
            "description": "Mejoramiento del bienestar animal en sistemas agrícolas y de acuicultura. Los estándares son específicos al tipo de agricultura (interior, exterior, de libre pastoreo o orgánico) y cubren toda la cadena de producción (desde la salud y la dieta hasta el sacrificio).",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/bienestar.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "30",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }, {
            "claimId": 3,
            "cid": 3,
            "categoryName": "Naturaleza",
            "claimName": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
            "description": "Certificación según legislación e instituciones del origen; Cosmos Organic - ECOCERT",
            "claimUrl": "https://",
            "image": "https://raw.githubusercontent.com/ecoterraweb/proofOfEco/master/assets/organico.svg",
            "claimType": "Certificación",
            "claimObject": "Producto",
            "blockchainTx": "0x4523523523523523324242342",
            "validTo": "05/02/2023",
            "ValidFrom": "09/02/2024",
            "recertificationPeriod": "60",
            "evidence": [
              {
                "EvidenceId": 7,
                "filename": "Nombre 8",
                "cid": "https://sdas"
              }, {
                "EvidenceId": 8,
                "filename": "Nombre 9",
                "cid": "https://sdas"
              }
            ]
          }
        ],
        "products": [
          {
            "id": 1,
            "name": "Huevo Color Gallina Libre 10 Und"
          }, {
            "id": 2,
            "name": "Quinoa orgánica 400 gr Ecoterra"
          }
        ]
      }
    ]
  };
</script>
<style>
  .text-center {
    text-align: center;
    margin: auto;
  }
  .landing__producer {
    padding: 60px 0;
  }
  .landing__producer--head {
    gap: 40px;
  }
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .landing__producer--head {
    width: 100%;
  }
  .landing__producer--head_title {
    font-size: 64px;
    margin-bottom: 30px;
  }
  .landing__producer--head_text {
    margin-bottom: 20px;
  }
  .landing__producer--subtitle {
    text-align: center;
    margin: 40px auto 20px;
    font-size: 40px;
    width: 100%;
  }
  .landing__producer--boxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 40px 0;
  }
  .landing__producer--item {
    text-align: center;
    max-width: 300px;
  }

  .landing__producer--producers {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 40px 0;
  }
  #youtubeIframe {
    margin-bottom: 30px;
  }
  .landing__claim--subtitle {
    margin-top: 30px;
  }
  /* Media Queries */
  @media screen and (max-width: 768px) {
    .landing__producer--head_title {
      font-size: 48px;
    }
    .landing__producer--subtitle {
      font-size: 30px;
    }
    .landing__producer--boxes {
      flex-direction: column;
      align-items: center;
    }
    .landing__producer--item {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    .landing__producer--head_title {
      font-size: 36px;
    }
    .landing__producer--subtitle {
      font-size: 24px;
    }
  }
</style>
{% comment %}

{%- assign page_url = content_for_header
| split: '"pageurl":"'
| last
| split: '"'
| first
| split: request.host
| last
| replace: '\/', '/'
| replace: '%20', ' '
| replace: '\u0026', '&' -%}
{% assign param = blank %}

{%- for i in (1..1) -%}
{%- unless page_url contains '?' -%}
{% break %}
{%- endunless -%}
{%- assign query_string = page_url | split: '?' | last -%}
{%- assign qry_parts = query_string | split: '&' -%}

{%- for part in qry_parts -%}
{%- assign key_and_value = part | split: '=' -%}
{%- if key_and_value.size > 1 -%}
{% if key_and_value[0] == 'producer_id' %}
{% assign producer_id = key_and_value[1] %}
{% endif %}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
{% endcomment %}<script>
  document.addEventListener('DOMContentLoaded', function() {

// Obtener los parámetros de la URL
    var urlParams = new URLSearchParams(window.location.search);
    var producerId = urlParams.get('producer_id');

    handleproducerId(producerId);
  });

  function handleproducerId(producerId) {
    const producerContent = document.getElementById('producerIDcontent');
    const generalContent = document.getElementById('noProducerIDcontent');

    if (producerId) { // Realizar acciones cuando producerId tiene un valor
      const producer = jsonArchive.producers.find(e => e.producerId == producerId);
      renderProducer(producer);
      renderMap(producer);

// Eliminar el div del DOM
      generalContent.parentNode.removeChild(generalContent);
      producerContent.classList.remove('d-none');
    } else { // Realizar acciones cuando producerId no tiene un valor
      const container = document.querySelector('.landing__producer--producers');
      jsonArchive.producers.forEach(producer => {
        const producerElement = createProducerElement(producer);
        container.appendChild(producerElement);
      });

// Eliminar el div del DOM
      producerContent.parentNode.removeChild(producerContent);
      generalContent.classList.remove('d-none');

    }
  }
</script>
<div id="producerIDcontent" class="d-none">
  <script>
    var currentInfoWindow = null;

    function renderProducer(producer) {
      const titleElement = document.querySelector('.landing__producer--head_title');
      const textElement = document.querySelector('.landing__producer--head_text');
      const iframe = document.querySelector('#youtubeIframe');

// Actualizar el contenido de los elementos con la información del claim
      titleElement.textContent = producer.name;
      textElement.textContent = producer.description;
      iframe.src = producer.videoUrl;

// Iterar sobre cada productor y agregar sus elementos al contenedor
      const container = document.querySelector('.landing__producer--boxes');
      producer.claims.forEach(producer => {
        const producerElement = createClaimElement(producer);
        container.appendChild(producerElement);
      });
    }

    function renderMap(producer) {

// Coordenadas del centro del mapa

/* var center = {
      lat: -33.831550,
      lng: -70.706332
    };*/

// Opciones de configuración del mapa
      var mapOptions = {
        zoom: 10, // Nivel de zoom
        center: producer.location, // Centro del mapa
        zoomControl: false, // Ocultar control de zoom
        mapTypeControl: false
      };

// Crear mapa
      var map = new google.maps.Map(document.querySelector(`#map`), mapOptions);

// Iterar sobre los puntos y agregar marcadores al mapa
// points.forEach(function(point) {

      if (producer.location.absolute) { // Crear marcador
        var marker = new google.maps.Marker({position: producer.location, map: map, title: producer.name});

// Crear el contenido personalizado con HTML
        var contentString = '<div id="content" style="width: 200px; display:flex; flex-direction: column; gap: 10px">' + '<h2 id="firstHeading" class="firstHeading">' + producer.name + '</h2>' + '<p> Description </p>' + '</div>' + '<a href="' + producer.producerId + '"  target="_blank" rel="noopener noreferrer">Ver Documento</p>' + '</div>';

// Agregar evento click al marcador para mostrar información
        marker.addListener("click", function() {

// Cerrar el InfoWindow actualmente abierto, si existe
          if (currentInfoWindow) {
            currentInfoWindow.close();
          }

// Crear ventana de información
          var infoWindow = new google.maps.InfoWindow({content: contentString});

// Mostrar ventana de información
          infoWindow.open(map, marker);

// Actualizar la referencia al InfoWindow actualmente abierto
          currentInfoWindow = infoWindow;
        });
      } else {
        var circle = new google.maps.Circle({
          strokeColor: "#FF0000",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#FF0000",
          fillOpacity: 0.35,
          map: map,
          center: producer.location,
          radius: 3000, // Radio del círculo en metros (puedes ajustar este valor)
        });

// Crear el contenido personalizado con HTML
        var contentString = '<div id="content" style="width: 200px; display:flex; flex-direction: column; gap: 10px">' + '<h2 id="firstHeading" class="firstHeading">' + producer.name + '</h2>' + '<p> Descripción </p>' + '</div>' + '<a href="' + producer.producerId + '"  target="_blank" rel="noopener noreferrer">Ver Documento</p>' + '</div>';

// Agregar evento click al círculo para mostrar información
        circle.addListener("click", function() {

// Crear ventana de información
          if (currentInfoWindow) {
            currentInfoWindow.close();
          }
          var infoWindow = new google.maps.InfoWindow({content: contentString});

// Mostrar ventana de información
          infoWindow.setPosition(producer.location);
          infoWindow.open(map);

// Actualizar la referencia al InfoWindow actualmente abierto
          currentInfoWindow = infoWindow;
        });
      }

/*
// Crear marcador
      var marker = new google.maps.Marker({position: producer.location, map: map, title: producer.name});


// // Crear el contenido personalizado con HTML
      var contentString = '<div id="content" style="width: 200px; display:flex; flex-direction: column; gap: 10px">' + '<h2 id="firstHeading" class="firstHeading">' + producer.name + '</h2>' + '<p>' + producer.description + '</p>' + '</div>' + '<a href="' + producer.producerId + '"  target="_blank" rel="noopener noreferrer">Ver Documento</p>' + '</div>';

// // Agregar evento click al marcador para mostrar información
      marker.addListener("click", function() {

//     // Crear ventana de información
        var infoWindow = new google.maps.InfoWindow({content: contentString});

//     // Mostrar ventana de información
        infoWindow.open(map, marker);
      });
*/
// });

    }

// Función para crear elementos HTML y agregarlos al contenedor
// Función para crear los elementos HTML para cada productor
    function createClaimElement(claim) {
      const div = document.createElement('a');
      div.classList.add('landing__producer--item');
      div.href = `/pages/claim-landing?claim_id=${
        claim.claimId
      }`;
      const img = document.createElement('img');
      img.src = claim.image;
      img.alt = "#";
      img.classList.add('landing__producer--item_img');
      img.style.width = "250px";
      img.style.height = "200px";

      const h3 = document.createElement('h3');
      h3.textContent = claim.claimName;
      h3.classList.add('landing__producer--item_title');

      div.appendChild(img);
      div.appendChild(h3);

      return div;
    }
  </script>

  <div id="producerContainer" class="landing__producer">
    <div class="container">

      <div class="landing__producer--head">
        <h1 class="landing__producer--head_title text-center"></h1>
        <p class="landing__producer--head_text"></p>
        <iframe
          id="youtubeIframe"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/W5-RsmMzcT0"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
      <h2 class="landing__claim--subtitle text-center">
        Nuestros sellos
      </h2>
      <div class="landing__producer--boxes"></div>
      <div id="map" style="height: 400px; width: 100%"></div>
    </div>
  </div>
</div>
<div id="noProducerIDcontent" class="d-none">
  <div class="landing__producer">
    <div class="container">
      <h1 class="landing__producer--head_title text-center">{{ section.settings.title }}</h1>
      <div class="landing__producer--head_text">{{ section.settings.text }}</div>
      <div class="landing__producer--producers"></div>
    </div>
  </div>
  <script>
    function createProducerElement(producer) {
      const div = document.createElement('a');
      div.classList.add('landing__producer--item');
      div.href = `/pages/producer-landing?producer_id=${
        producer.producerId
      }`
      const img = document.createElement('img');
      img.src = producer.imgUrl;
      img.alt = "#";
      img.classList.add('landing__producer--item_img');
      img.style.width = "250px";
      img.style.height = "200px";
      const h3 = document.createElement('h3');
      h3.textContent = producer.name;
      h3.classList.add('landing__producer--item_title');

      div.appendChild(img);
      div.appendChild(h3);

      return div;
    }
  </script>
</div>



{% schema %}
  {
    "name": "Landing Producer",
    "settings": [
      {
        "type": "text",
        "label": "Titulo",
        "id": "title",
        "default": "Nuestros Productores"
      }, {
        "type": "richtext",
        "label": "Texto principal",
        "id": "text",
        "default": "<p>Como ecoterra estamos orgullosos de trabajar juntos a nuestros productores comprometidos a cambiar el planeta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum doloremque nihil architecto nam, libero rem dolore! Voluptates labore suscipit quas soluta neque, sint amet eius non excepturi tenetur reprehenderit ipsum.</p>"
      }
    ],
    "presets": [
      {
        "name": "Landing Producer",
        "category": "Landing",
        "settings": {}
      }
    ]
  }
{% endschema %}