{% assign id_length = customer.id | size %}
{% assign subscriptions_length = 0 %}

{%- if id_length > 4 -%}
  <style>
    ._error {
      font-weight: normal;
      margin-left: 1rem;
    }

    .btn_center {
      display: block;
      padding: 0.4rem 0.8rem;
      margin: 0 auto 1rem;
      font-size: 1rem;
      color: rgb(64, 64, 64);
      background-color: rgb(240, 240, 240);
      border: 1px solid rgb(180, 180, 180);
      border-radius: 0.6rem;
      cursor: pointer;
    }

    .as_title {
      font-weight: bold;
      border: none;
      cursor: auto;
    }

    .table-row-hover ._pre {
        white-space: pre;
    }
    
    .table-row-hover ._capitalize {
        text-transform: capitalize;
    }

    .svg_loading {
      animation: rotating_svg 2s linear infinite;
    }

    @keyframes rotating_svg {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>

  <div style="display: none;">

    <div id="obj_loading">
      <div class="empty-state">
        <div class="empty-state__icon-wrapper">
          {%- render 'icon' with 'loading'
            , width: 32
            , height: 32
            , stroke_width: 1 -%}
        </div>

        <div class="prose">
          <p class="h6">Cargando suscripciones...</p>
        </div>
      </div>
    </div>

    <div id="obj_empty">
      <div class="empty-state">
        <div class="empty-state__icon-wrapper">
          {%- render 'icon' with 'subscriptions'
            , width: 32
            , height: 32
            , stroke_width: 1 -%}
          <span class="count-bubble count-bubble--lg">0</span>
        </div>

        <div class="prose">
          <p class="h6">Aún no has realizado ninguna suscripción.</p>

          {%- assign button_content = 'customer.account.continue_shopping' | t -%}
          {%- render 'button'
            , href: routes.all_products_collection_url
            , size: 'xl'
            , content: button_content -%}
        </div>
      </div>
    </div>

    <div id="obj_error">
      <div class="empty-state">
        <div class="empty-state__icon-wrapper">
          {%- render 'icon' with 'error'
            , width: 32
            , height: 32
            , stroke_width: 1 -%}
        </div>

        <div class="prose">
          <p class="h6">Ocurrio un error:
            <span class="_error"></span>
          </p>
        </div>
      </div>
    </div>

    <div id="obj_list">
      <div class="page-spacer">
        <div class="account">
          <div class="account-header">
            <div class="text-with-bubble justify-self-center">
              <h1 class="h3">Suscripciones</h1>
              <span class="count-bubble count-bubble--lg subscriptions_length">0</span>
            </div>
          </div>

          <div class="account__block-list">
            <div class="v-stack gap-5">
              <table class="order-table-list">
                <thead>
                  <tr>
                    <th>Productos</th>
                    <th>Frecuencia</th>
                    <th>Día de entrega</th>
                    <th>Valor</th>
                    <th class="text-end">Estado</th>
                  </tr>
                </thead>

                <tbody></tbody>
              </table>

              <button type="button" class="btn_center btn_lazy">Cargar mas suscripciones</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="cont_subscriptons">
    <div class="empty-state">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'loading'
          , width: 32
          , height: 32
          , stroke_width: 1 -%}
      </div>

      <div class="prose">
        <p class="h6">Cargando suscripciones...</p>
      </div>
    </div>
  </div>

  <script>
    const meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
    const _cont_subscriptons = document.getElementById("cont_subscriptons");
    const _obj_loading = document.getElementById("obj_loading");
    const _obj_empty = document.getElementById("obj_empty");
    const _obj_error = document.getElementById("obj_error");
    const _obj_list = document.getElementById("obj_list");
    const _limit = 10;
    let _current_length = 0;
    let _rows = "";

    const format = (_num) => {
        return _num < 10 ? "0" + _num : _num;
    }

    const misSuscripciones = async () => {
        const formData = new FormData();

        formData.append('accion', 'mis_suscripciones');
        formData.append('customer_id', '{{customer.id}}');
        formData.append('limit', _limit);
        formData.append('offset', _current_length);
        console.log("Consultando mis suscripciones");

        await fetch('https://sarguero.btsmensajeria.com/suscripciones', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                console.log("respondio");
                console.log(data);

                if (data.response == 1) {
                    data.suscripciones.map(item => {
                        let _fecha_suscripcion = new Date(item.fecha_suscripcion);
                        let _fecha_expiracion = new Date(item.fecha_expiracion);

                        _rows += `<tr class="table-row-hover" onclick="window.location.href = '/pages/detalle-suscripcion/${window.btoa(item.id)}'">
                                <td class="text-subdued _pre">${item.producto_nombre}</td>
                                <td class="text-subdued _capitalize">${item.frecuencia}</td>
                                <td class="text-subdued">${item.dia_entrega}</td>
                                <td class="text-subdued">${item.producto_precio}</td>
                                <td class="text-subdued text-end">${item.estado}</td>
                            </tr>`;
                    });

                    _current_length = _current_length + data.suscripciones.length;
                    _obj_list.getElementsByClassName("subscriptions_length")[0].innerText = _current_length;
                    _obj_list.getElementsByTagName("tbody")[0].innerHTML = _rows;
                    _cont_subscriptons.innerHTML = _obj_list.innerHTML;

                    if (data.suscripciones.length < _limit) {
                        _cont_subscriptons.getElementsByClassName("btn_lazy")[0].innerText = "No hay mas suscripciones";
                        _cont_subscriptons.getElementsByClassName("btn_lazy")[0].classList.add("as_title");
                    } else {
                        _cont_subscriptons.getElementsByClassName("btn_lazy")[0].addEventListener('click', handleLazyLoad, { once: true });
                    }
                } else {
                    _cont_subscriptons.innerHTML = _obj_empty.innerHTML;
                }
            })
            .catch((error) => {
                console.log("Ocurrio un error");
                console.log({ "response": -1, "msg": error.toString() });

                _obj_error.getElementsByClassName('_error')[0].innerText = `(${error.toString()})`;
                _cont_subscriptons.innerHTML = _obj_error.innerHTML;
            });
    }

    const handleLazyLoad = (_this) => {
        _this.target.innerText = "Cargando suscripciones...";

        misSuscripciones();
    }

    window.addEventListener('load', function () {
        misSuscripciones();
    });
  </script>

{%- else -%}
  <div class="container">
    <div class="empty-state">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'account_cancel'
          , width: 32
          , height: 32
          , stroke_width: 1 -%}
      </div>

      <div class="prose">
        <p class="h6">Debes iniciar sesión para ver este contenido.</p>

        {%- assign button_content = 'customer.login.submit' | t -%}
        {%- render 'button'
          , href: routes.account_login_url
          , size: 'xl'
          , content: button_content -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Customer subscriptions",
    "class": "shopify-section--main-customers-subscriptions",
    "tag": "section"
  }
{% endschema %}