  /* Importar la fuente Semibold */
@font-face {
    font-family: 'VolteRounded';
    src: url('./VolteRounded-Semibold.woff2') format('woff2');
    font-weight: 600; /* Peso de fuente semibold */
  }
  
  /* Importar la fuente Bold */
  @font-face {
    font-family: 'VolteRounded';
    src: url('./VolteRounded-Bold.woff2') format('woff2');
    font-weight: 700; /* Peso de fuente bold */
  }
  
  /* Importar la fuente Light */
  @font-face {
    font-family: 'VolteRounded';
    src: url('./VolteRounded-Light.woff2') format('woff2');
    font-weight: 300; /* Peso de fuente light */
  }
  
  /* Importar la fuente Medium */
  @font-face {
    font-family: 'VolteRounded';
    src: url('./VolteRounded-Medium.woff2') format('woff2');
    font-weight: 500; /* Peso de fuente medium */
  }
  
  /* Importar la fuente Regular */
  @font-face {
    font-family: 'VolteRounded';
    src: url('./VolteRounded-Regular.woff2') format('woff2');
    font-weight: 400; /* Peso de fuente regular */
  }
  
  /* Importar la fuente Secundaria */
  @font-face {
    font-family: 'PalmerLakePrint';
    src: url('./PalmerLakePrint-Regular.ttf') format('woff2');
    font-weight: 400; /* Peso de fuente regular */
  }
  
  /* Usar la fuente en tu estilo CSS */
  body, .heading, .h0, .h1, .h2, .h3, .h4, .h5, .h6, .prose :is(h1,h2,h3,h4,h5,h6) {
    font-family: 'VolteRounded', sans-serif;
  }
  .font--secondary{
    font-family: 'PalmerLakePrint', sans-serif !important;
  }
  .font--secondary.h0{
    font-size: 11rem;
  }
  .font--secondary.h1{
    font-size: 10rem;
  }
  .font--secondary.h2{
    font-size: 9rem;
  }
  .font--secondary.h3{
    font-size: 8rem;
  }
  .font--secondary.h4{
    font-size: 7rem;
  }
  .font--secondary.h5{
    font-size: 6rem;
  }
  .font--secondary.h6{
    font-size: 5rem;
  }